* {
    margin: 0%;
    padding: 0%;
}

.card-report {
    margin-left: 1px !important;
    width: 100%;
}

.btn-accounts,
.btn-cards,
.btn-throw {
    padding-left: 25px;
    padding-right: 25px;
}

.table-report {
    padding: 5px;
}